body {
  width: 70%;
  margin: auto;
  font-size: 1.4rem;
  background-image: url(../images/Chalkboard.jpg);
}

.jumbotron {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #497959;
  color: #ffffff;
  
}
#question {
  font-size: 1.5rem;
  font-weight: bold;
}
.form-check {
  margin: 1rem 0;
  font-weight: normal;
} 

#next-btn {
  width: 8rem;
  height: 3rem;
}
.choice-text {
  display: inline-block;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.my-4 {
  border-color: white;
}
